@import "tailwindcss";

@theme {
  --color-crox-red: #E53935;
  --color-crox-dark: #111111;
}

/* This allows Tailwind to use our custom float animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}